<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>784624103572-e9ru3a3vfoo5ujsfolll4vpj2kek9201.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.784624103572-e9ru3a3vfoo5ujsfolll4vpj2kek9201</string>
	<key>API_KEY</key>
	<string>AIzaSyCO6dZ84OSJii62Amj6wXGneQdhAf93Oe4</string>
	<key>GCM_SENDER_ID</key>
	<string>784624103572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ru.dobro</string>
	<key>PROJECT_ID</key>
	<string>dobrohelp-cc47c</string>
	<key>STORAGE_BUCKET</key>
	<string>dobrohelp-cc47c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784624103572:ios:79360b0f4a22f108858481</string>
	<key>DATABASE_URL</key>
	<string>https://dobrohelp-cc47c-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>