<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070712262125-0p3ejggdstorsc1rbdej4d1gp72v53au.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070712262125-0p3ejggdstorsc1rbdej4d1gp72v53au</string>
	<key>API_KEY</key>
	<string>AIzaSyBFfXWyxCmlUhN69IV06G_LH5zJ_oMv118</string>
	<key>GCM_SENDER_ID</key>
	<string>1070712262125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dobro.welcome</string>
	<key>PROJECT_ID</key>
	<string>welcomehelp-f729b</string>
	<key>STORAGE_BUCKET</key>
	<string>welcomehelp-f729b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070712262125:ios:3a176294e622d71ed7ebe4</string>
</dict>
</plist>